<!DOCTYPE html>
<html>
	<head>
		<title>Login | Spot the Hole</title>
		<meta property="og:title" content="Login | Spot the Hole" />
		<meta name="description" content="Pothole reporting system" />
		<meta
			property="og:description"
			content="Pothole reporting system"
		/>
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/login"
		/>
		<%- include('components/meta') -%>
		<script src="/__/firebase/7.15.3/firebase-app.js"></script>
		<script src="/__/firebase/7.15.3/firebase-auth.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script src="https://www.gstatic.com/firebasejs/ui/4.5.1/firebase-ui-auth.js"></script>
		<link
			type="text/css"
			rel="stylesheet"
			href="https://www.gstatic.com/firebasejs/ui/4.5.1/firebase-ui-auth.css"
		/>
		<link
			href="/css/login.css"
			rel="stylesheet"
			type="text/css"
			media="screen"
		/>
	</head>
	<body>
		<div id="container">
			<%- include('snackbar') -%>
			<img
				class="img-fluid"
				src="/img/logos/logoRect.png"
				width="100%"
				height="auto"
			/>
			<div id="loading">Loading...</div>
			<div id="loaded" class="hidden">
				<div id="main">
					<div id="user-signed-in" class="hidden">
						<div id="user-info">
							<div id="photo-container">
								<img id="photo" />
							</div>
							<div id="name"></div>
							<br />
							<div id="email"></div>
							<br />
							<div id="phone"></div>
							<br />
							<div id="is-new-user"></div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div id="user-signed-out" class="hidden">
						<div id="firebaseui-spa">
							<div id="firebaseui-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/login.js"></script>
		<script src="/js/manup.min.js"></script>
		<%- include('components/pwabuilder-sw-register') -%>
	</body>
</html>
