<% for(var i=0;i<Object.keys(globalCodes).length;i++) { %>
	<li class="collection-item">
		<a
			href="/potholesByLocation?globalCode=<%- globalCodes[i] -%>"
			class="waves-effect"
			><i class="mdi mdi-google-maps"></i
			><span class="thegcode"><%- globalCodes[i] -%></span
			><i class="arrow mdi mdi-chevron-right"></i
		></a>
	</li>
	<% }%>
</Object.keys(globalCodes).length;i++)>
