<ul id="slide-settings" class="sidenav sidesettings right fixed">
	<li class="menulinks">
		<ul class="collapsible">
			<li class="sh-wrap"><div class="subheader">Themes</div></li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="red"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-intermediate red-text text-lighten-2"
						></i>
						<span class="title">Red</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="orange"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline deep-orange-text text-lighten-2"
						></i>
						<span class="title">Orange</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="blue"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline blue-text text-lighten-2"
						></i>
						<span class="title">Blue</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="green"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline green-text text-lighten-2"
						></i>
						<span class="title">Green</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings active"
					data-type="theme"
					data-value="deep-purple"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline deep-purple-text text-lighten-2"
						></i>
						<span class="title">Purple</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="amber"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline amber-text"
						></i>
						<span class="title">Yellow</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="teal"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline teal-text text-lighten-2"
						></i>
						<span class="title">Teal</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="pink"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline pink-text text-lighten-2"
						></i>
						<span class="title">Pink</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="indigo"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline indigo-text text-lighten-2"
						></i>
						<span class="title">Indigo</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="blue-grey"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline blue-grey-text text-lighten-2"
						></i>
						<span class="title">Blue Grey</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="brown"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline brown-text text-lighten-2"
						></i>
						<span class="title">Brown</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="cyan"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline cyan-text text-lighten-2"
						></i>
						<span class="title">Cyan</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="light-green"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline light-green-text text-lighten-2"
						></i>
						<span class="title">Light Green</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="purple"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline purple-text text-lighten-2"
						></i>
						<span class="title">Violet</span>
					</a>
				</div>
			</li>
			<li class="lvl1 theme">
				<div
					class="waves-effect appsettings"
					data-type="theme"
					data-value="grey"
				>
					<a href="#!">
						<i
							class="mdi mdi-checkbox-blank-outline grey-text text-darken-2"
						></i>
						<span class="title">Black</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Site Mode</div>
			</li>
			<li class="lvl1 site_mode">
				<div
					class="waves-effect appsettings active"
					data-type="site_mode"
					data-value="light"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Light Mode</span>
					</a>
				</div>
			</li>
			<li class="lvl1 site_mode">
				<div
					class="waves-effect appsettings"
					data-type="site_mode"
					data-value="dark"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Dark Mode</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Header Style</div>
			</li>
			<li class="lvl1 header">
				<div
					class="waves-effect appsettings active"
					data-type="header"
					data-value="light"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Light Header</span>
					</a>
				</div>
			</li>
			<li class="lvl1 header">
				<div
					class="waves-effect appsettings"
					data-type="header"
					data-value="dark"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Dark Header</span>
					</a>
				</div>
			</li>
			<li class="lvl1 header">
				<div
					class="waves-effect appsettings"
					data-type="header"
					data-value="colored"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Colored Header</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Header Alignment</div>
			</li>
			<li class="lvl1 header_align">
				<div
					class="waves-effect appsettings"
					data-type="header_align"
					data-value="left"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Left Align Header</span>
					</a>
				</div>
			</li>
			<li class="lvl1 header_align">
				<div
					class="waves-effect appsettings active"
					data-type="header_align"
					data-value="center"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Center Align Header</span>
					</a>
				</div>
			</li>
			<li class="lvl1 header_align">
				<div
					class="waves-effect appsettings"
					data-type="header_align"
					data-value="right"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Right Align Header</span>
					</a>
				</div>
			</li>
			<li class="lvl1 header_align">
				<div
					class="waves-effect appsettings"
					data-type="header_align"
					data-value="app"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">App Based Align Header</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Menu Style</div>
			</li>
			<li class="lvl1 menu">
				<div
					class="waves-effect appsettings active"
					data-type="menu"
					data-value="light"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Light Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 menu">
				<div
					class="waves-effect appsettings"
					data-type="menu"
					data-value="dark"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Dark Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 menu">
				<div
					class="waves-effect appsettings"
					data-type="menu"
					data-value="colored"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Colored Menu</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Menu Type</div>
			</li>
			<li class="lvl1 menu_type">
				<div
					class="waves-effect appsettings active"
					data-type="menu_type"
					data-value="left"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Left Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 menu_type">
				<div
					class="waves-effect appsettings"
					data-type="menu_type"
					data-value="center"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Centered Menu</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Menu Icons</div>
			</li>
			<li class="lvl1 menu_icons">
				<div
					class="waves-effect appsettings active"
					data-type="menu_icons"
					data-value="on"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Menu Icons Show</span>
					</a>
				</div>
			</li>
			<li class="lvl1 menu_icons">
				<div
					class="waves-effect appsettings"
					data-type="menu_icons"
					data-value="off"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Menu Icons Hide</span>
					</a>
				</div>
			</li>
			<li class="lvl1 menu_icons">
				<div
					class="waves-effect appsettings"
					data-type="menu_icons"
					data-value="colored"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Menu Icons Colored</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Page Footer Style</div>
			</li>
			<li class="lvl1 footer">
				<div
					class="waves-effect appsettings"
					data-type="footer"
					data-value="light"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Light Footer</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer">
				<div
					class="waves-effect appsettings active"
					data-type="footer"
					data-value="dark"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Dark Footer</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer">
				<div
					class="waves-effect appsettings"
					data-type="footer"
					data-value="colored"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Colored Footer</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Page Footer Type</div>
			</li>
			<li class="lvl1 footer_type">
				<div
					class="waves-effect appsettings"
					data-type="footer_type"
					data-value="minimal"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Minimal Footer</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer_type">
				<div
					class="waves-effect appsettings active"
					data-type="footer_type"
					data-value="left"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Left Aligned Footer</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer_type">
				<div
					class="waves-effect appsettings"
					data-type="footer_type"
					data-value="center"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Centered Footer</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Fixed Footer Menu</div>
			</li>
			<li class="lvl1 footer_menu">
				<div
					class="waves-effect appsettings active"
					data-type="footer_menu"
					data-value="show"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Show Fixed Footer Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer_menu">
				<div
					class="waves-effect appsettings"
					data-type="footer_menu"
					data-value="hide"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Hide Fixed Footer Menu</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Fixed Footer Menu Style</div>
			</li>
			<li class="lvl1 footer_menu_style">
				<div
					class="waves-effect appsettings active"
					data-type="footer_menu_style"
					data-value="light"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-intermediate"></i>
						<span class="title">Light Fixed Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer_menu_style">
				<div
					class="waves-effect appsettings"
					data-type="footer_menu_style"
					data-value="dark"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Dark Fixed Menu</span>
					</a>
				</div>
			</li>
			<li class="lvl1 footer_menu_style">
				<div
					class="waves-effect appsettings"
					data-type="footer_menu_style"
					data-value="colored"
				>
					<a href="#!">
						<i class="mdi mdi-checkbox-blank-outline"></i>
						<span class="title">Colored Fixed Menu</span>
					</a>
				</div>
			</li>
		</ul>
	</li>
</ul>
