<div class="footer-menu">
	<ul>
		<li>
			<a href="/cameraCapture">
				<i class="mdi mdi-open-in-app"></i>
				<span>Report</span>
			</a>
		</li>
		<li>
			<a href="sub-pages.html">
				<i class="mdi mdi-shape-outline"></i>
				<span>Pages</span>
			</a>
		</li>
		<li>
			<a href="/">
				<i class="mdi mdi-home-outline"></i>
				<span>Home</span>
			</a>
		</li>
		<li>
			<a href="sub-uielements.html">
				<i class="mdi mdi-laptop"></i>
				<span>UI</span>
			</a>
		</li>
		<li>
			<a href="sub-utilities-components.html">
				<i class="mdi mdi-flask-outline"></i>
				<span>Components</span>
			</a>
		</li>
	</ul>
</div>
