<footer class="page-footer">
	<div class="container footer-content">
		<div class="row">
			<div class="">
				<h5 class="logo">Spot the Hole</h5>
				<p class="text">
					Spot the Hole is an app that allows you to report Potholes
					to the respective autorities.
				</p>
			</div>
			<!-- <div class="link-wrap">
				<ul class="link-ul">
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-phone"></i></a
						>
					</li>
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-email"></i> email@example.com</a
						>
					</li>
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-map-marker"></i> </a
						>
					</li>
				</ul>
				<ul class="social-wrap">
					<li class="social">
						<a class="" href="#!"
							><i class="mdi mdi-facebook"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-twitter"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-dribbble"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-google-plus"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-linkedin"></i
						></a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy;
			<a
				class=""
				href="https://http://spot-the-hole.firebaseapp.com/login"
				>Spot the Hole</a
			>.
		</div>
	</div>
</footer>
