<footer class="page-footer">
	<div class="container footer-content">
		<div class="row">
			<div class="">
				<h5 class="logo">ZAK</h5>
				<p class="text">
					ZAK is a super fast, premium and multi purpose Mobile APP UI
					template, with tons of features and functionalities.
				</p>
			</div>
			<div class="link-wrap">
				<ul class="link-ul">
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-phone"></i> +1 234 567 890</a
						>
					</li>
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-email"></i> email@example.com</a
						>
					</li>
					<li>
						<a class="" href="#!"
							><i class="mdi mdi-map-marker"></i> FF 1, Sector-8,
							Tech Street, NY, USA</a
						>
					</li>
				</ul>
				<ul class="social-wrap">
					<li class="social">
						<a class="" href="#!"
							><i class="mdi mdi-facebook"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-twitter"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-dribbble"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-google-plus"></i
						></a>
						<a class="" href="#!"
							><i class="mdi mdi-linkedin"></i
						></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; Copyright
			<a
				class=""
				href="https://themeforest.net/user/themepassion/portfolio"
				>Themepassion</a
			>. All rights reserved.
		</div>
	</div>
</footer>
