<div class="footer-menu">
	<ul>
		<li>
			<a href="/cameraCapture">
				<i class="mdi mdi-camera-iris"></i>
				<span>Report pothole</span>
			</a>
		</li>
		<li>
			<a href="/">
				<i class="mdi mdi-shape"></i>
				<span>View reports</span>
			</a>
		</li>
		<li>
			<a href="/">
				<i class="mdi mdi-home"></i>
				<span>Home</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="mdi mdi-bell-ring"></i>
				<span>Notifications</span>
			</a>
		</li>
		<li>
			<a href="/heatmap">
				<i class="mdi mdi-google-maps"></i>
				<span>Heatmap</span>
			</a>
		</li>
	</ul>
</div>
