<div class="footer-menu">
	<ul>
		<li>
			<a href="/cameraCapture" class="active">
				<i class="mdi mdi-camera-iris"></i>
				<span>Capture</span>
			</a>
		</li>
		<li>
			<a href="/locations">
				<i class="mdi mdi-shape"></i>
				<span>Locations</span>
			</a>
		</li>
		<li>
			<a href="/">
				<i class="mdi mdi-home"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="/notifications">
				<i class="mdi mdi-bell-ring"></i>
				<span>Notifications</span>
			</a>
		</li>
		<li>
			<a href="/heatmap">
				<i class="mdi mdi-google-maps"></i>
				<span>Heatmap</span>
			</a>
		</li>
	</ul>
</div>
