<nav class="fixedtop topbar navigation" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">SPOT <span style="font-size: xx-small;">THE</span> HOLE</a>
		<!-- <ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->
		<!-- <ul id="nav-mobile" class="sidenav">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->
		<a
			href="#"
			data-target=""
			class="waves-effect waves-circle navicon back-button htmlmode show-on-large"
			><i class="mdi mdi-chevron-left" data-page=""></i
		></a>
		<a
			href="#"
			data-target="slide-nav"
			class="waves-effect waves-circle navicon sidenav-trigger show-on-large"
			><i class="mdi mdi-menu"></i
		></a>
		<a
			href="#"
			data-target="slide-settings"
			class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"
			><i class="mdi mdi-tune"></i
		></a>
		<a
			href="#"
			data-target=""
			class="waves-effect waves-circle navicon right nav-site-mode show-on-large"
			><i class="mdi mdi-invert-colors mdi-transition1"></i
		></a>
		<!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
	</div>
</nav>
