<ul id="slide-nav" class="sidenav sidemenu">
	<li class="menu-close"><i class="mdi mdi-close"></i></li>
	<li class="user-wrap">
		<div class="user-view row">
			<!-- <div class="background">
				<img src="/images/office.jpg">
			</div> -->
			<div class="col s3 imgarea">
				<a href="#user"
					><img
						class="circle"
						src="<%- user.picture -%>"
						alt="Profile Picture"
				/></a>
			</div>
			<div class="col s9 infoarea">
				<a href="#name"><span class="name"><%- user.name -%></span></a>
				<a href="#email"
					><span class="email"><%- user.email -%></span></a
				>
			</div>
		</div>
	</li>

	<li class="menulinks">
		<ul class="collapsible">
			<li class="sh-wrap">
				<div class="subheader">Navigation</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="/signOut">
						<i class="mdi mdi-lock"></i>
						<span class="title">Sign Out</span>
					</a>
				</div>
			</li>
			<!-- <li class="lvl1">
				<div class="waves-effect">
					<a href="sub-apps.html">
						<i class="mdi mdi-open-in-app"></i>
						<span class="title">APPS</span
						><span class="badge blue-grey lighten-3 badge-rounded"
							>NEW</span
						>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-uielements.html">
						<i class="mdi mdi-laptop"></i>
						<span class="title">UI Elements</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-utilities-components.html">
						<i class="mdi mdi-flask-outline"></i>
						<span class="title">Components</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-forms.html">
						<i class="mdi mdi-textbox"></i>
						<span class="title">Forms</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-charts.html">
						<i class="mdi mdi-chart-line"></i>
						<span class="title">Charts</span
						><span class="badge blue-grey lighten-3 badge-rounded"
							>HOT</span
						>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-pages.html">
						<i class="mdi mdi-shape-outline"></i>
						<span class="title">Pages</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-access.html">
						<i class="mdi mdi-access-point"></i>
						<span class="title">Site Access</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-portfolio.html">
						<i class="mdi mdi-grid-large"></i>
						<span class="title">Portfolio</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sub-blogs.html">
						<i class="mdi mdi-square-edit-outline"></i>
						<span class="title">Blogs</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="sh-wrap">
				<div class="subheader">Reach Us</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="tel:+1 234 567 890">
						<i class="mdi mdi-cellphone-basic"></i>
						<span class="title">Phone</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="mailto:email@example.com">
						<i class="mdi mdi-email-outline"></i>
						<span class="title">Email</span>
					</a>
				</div>
			</li>
			<li class="lvl1">
				<div class="waves-effect">
					<a href="sms:+1 234 567 890">
						<i class="mdi mdi-message-text-outline"></i>
						<span class="title">Message</span>
					</a>
				</div>
			</li>
			<li class="sep-wrap"><div class="divider"></div></li>
			<li class="lvl1">
				<div class="waves-effect">
					<a
						href="#"
						data-target="slide-settings"
						class="sidenav-trigger"
						><i class="mdi mdi-settings-outline"></i
						><span class="title">Settings</span>
					</a>
				</div>
			</li> -->
		</ul>
	</li>
	<li class="copy-spacer"></li>
	<li class="copy-wrap">
		<div class="copyright">&copy; Copyright @ Spot the Hole</div>
	</li>
</ul>
