name: Node CI

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Setup Node.js
      uses: actions/setup-node@main
      with:
        node-version: 14.x
    - name: Lint
      run: |
        cd functions/
        npm i
        npm run lint
      env:
        CI: true
